{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 140,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "editor.formatOnSave": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode"
}
